*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto 10% auto 10%;
    height: 800px;
}

h2{
    font-size: 50px;
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
}